<div>
  <div class="gallery_title">이미지 갤러리</div>
  <div class="gallery_wrap">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div class="gallery_image_frame" *ngFor="let post of posts">
        <img
          class="image"
          [src]="post.image"
          alt="{{ post.title }}"
          (click)="goToDetail(post.id)"
        />
        <div class="image_title">{{ post.title }}</div>
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="button_wrap">
    <button class="add_button" (click)="goToEdit()">+ Add image</button>
  </div>
  <div></div>
</div>

<router-outlet></router-outlet>
